*.py~
*.pyc
*.txt
*.swp
result/*
CE_FOLDER/*
MODELS_FOLDER/*
*.aux
*.bbl
*.blg
*.dvi
*.pdf
*.log
run_rest.sh
output/*
*temp*
w2v/*
.gitignore
*tmp*
recent_log.txt
*.out
*env.zip
src/hadoop_cluster/env/
